*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url();
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 h2 h3 h4 h5 h6 strong{
color: rgb(109,90,67);
}
p{
  font-size: 1rem;
  line-height: 1.9rem;
}
p, span, label, input, textarea, li{
  color: rgb(158, 135, 107);
}
a{
  text-decoration: none;
}
.main-container{
  width: 1200px;
  margin: 0 auto;
}
@media screen and(max-width:1200px){
  .main-container{width: 90%;}
}
.nav{
  display: flex;
  justify-content: uppercase;
  padding: 0 2rem;
}
.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem ;
}
.logo a{
  color: rgb(158, 135, 107);
}
nav ul li{
  display: flex;
  align-items: center;
  
}
nav a ul li{
  color: rgb(158, 135, 107);
}
nav{
  padding-left: 38rem;
}
/* BUTTON */
.btn{
  background: fixed;
  background-color: rgb(219, 182,136);
  border: 1.5 solid rgb(158, 135, 107);
  border-radius: 5px;
  cursor: pointer;
  transition: 2s ease-in-out;
}
.section-title{
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.btn:hover{
  box-shadow: 1px;
}
/* BURGER */
.burger{
  display: none;
  z-index: 99;
  position: fixed;
  top: 3px;
  right: 35px;
}
.toogle-buger .line-1{
  transform: rotate(-45deg)translate(-5px,7px);
}
.toogle-buger .line-2{
  opacity: 0;
}
.toogle-buger .line-3{
  transform: rotate(45deg) translate(-5px,-7px);
}
/* HERO */
#hero{
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-name{
  font-size: 3rem;
  font-weight: 700;
  margin: .5rem 0 1rem;
}
.hero-name span{
  color: rgb(109,90,67);
}
.hero-right{
  display: flex;
  justify-content: center;
}
.hero-right img{
  width: 90%;
}
/* PRE TITLE */
.section{
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgb(158, 135, 107);
  position: relative;
  padding-left: 220px;
  width: fit-content;
  font-weight: 400px;
  font-size: .9rem;
}
.pre-title .services{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgb(158, 135, 107);
  position: relative;
  padding-left: 495px;
  width: fit-content;
  font-weight: 400px;
  font-size: .9rem;
}
.pre-title::before{
  content: "";
  width: 30px;
  height: 1px;
  background-color: rgb(219, 182,136);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-left: 70px;
}
/* SERVICES */
#services{
  background-color: rgb(236, 215, 191);
  padding: 6rem 0;
}
.services .pre-title{
  margin: 0 auto;
}
.services-title{
  text-align: center;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-left: 70px;
}
.services{
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 5px;
}
.services h4{
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.5rem;
}
.services-icon{
  background-color: blanchedalmond;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: .5rem;
}
.services-icon svg{
  fill: black;
}
/* PORTOFOLIOS */
#portofolios{
  padding: 1.5px;
}
.portofolio{
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid black;
}
.portofolio-cover{
  height: 250px;
}
.portofolio-cover img{
  width:100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.portofolio-info{
  padding: .5rem 1.5rem;
}
.portofolio-title{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.portofolioh4{
  font-weight: 500;
  font-size:.5rem;
  padding-top: 5px;
}
.portofolio-title a svg:hover{
  fill: rgb(109, 90, 67);
}
.portofolio-title a svg{
  transition: .2s ease-in-out;
}
.portofolio-tags{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.portofolio-tags div{
  font-size: .9rem;
  border:1px solid rgb(131, 115, 81);
  padding: 2px 3px;
  color: rgb(158, 135, 107);
}
.card1{
  border: 1px solid black;
  border-radius: 8px;
  width: 350px;
  height: 520px;
  background-color: antiquewhite;

}
/* pre-title */
.section-title{
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgb(158, 135, 107);
  position: relative;
  padding-left: 220px;
  width: fit-content;
  font-weight: 400px;
  font-size: .9rem;
}
.pre-title-services{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgb(158, 135, 107);
  position: relative;
  padding-left: 495px;
  width: fit-content;
  font-weight: 400px;
  font-size: .9rem;
}
.pre-title::before{
  content: "";
  width: 30px;
  height: 1px;
  background-color: rgb(249, 214, 171);
  position: absolute;
  padding-left: 150px;
  display: block;
  left: 0;
  top: 50%;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-left: 70px;
}
/* SKILL AND EDUCATION */
#skills{
  padding: 5px;
  background-color: rgb(236, 215, 191);
}
.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.education{
  display: flex;
  gap: 2rem;
}
.education .line div{
  width:6px;
  height:100% ;
  background-color: rgb(158, 135, 107);
  position: relative;
}
.education .line div::before{
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(20, 20, 19);
  border-radius: 50%;
  position: absolute;
  left: 6px;
}
.education .line {
  padding: 0 .5em;
}
.education-info p{ 
margin: .6rem 0 1.4rem;
padding-left: 5px;
}
.education-years{
  margin-bottom: 3px;
}
.skill-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}
.skill-right ul{
  line-height: 1rem;
  padding: .1rem;
}
.grid-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:3rem;
  padding-left: 3REM;
}
/* CONTACT */
#contact{
padding: 2px;
}
.contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}
.contact-form div{
  padding-top: 15px;
margin-bottom: 1.4rem;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  padding: .7rem 1.3rem;
  background-color: bisque;
  border: 1px solid bisque;
  border-radius: 5px;
  resize: none;
}
.contact-form input:focus, .contact-form textarea:focus{
  outline:none;
  border:1px solid black;
}
.btn-submit{
width: 150px;
height: 50px;
padding: 1rem 1.3rem;
background-color: rgb(109,90,67);
color: whitesmoke;
border:none;
border-radius: 5px;
cursor: pointer;
transition: 2s ease-in-out;
}
.btn-submit:hover{
  background-color: antiquewhite;
}
.contact-item{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  padding-top: 10px;
}
.contact-item-icon{
  background-color: rgb(219, 182,136);
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-item-icon svg{
  fill: blanchedalmond;
}
.contact-item-icon-detail h4{
margin-bottom: 0.6rem;
}
/* footer */
footer{
  padding:4rem;
  background-color: rgb(158, 135, 107);
  text-align: center;
}
.footer-icons{
  margin-bottom: 1rem;
color: black;
background-color: bisque;

}
.footer-icons a{
  margin: 0 .5rem;
}
.footer-icons svg{
  fill: #3e3f40;
}
.footer-icons a:hover svg{
  fill: #000;
}

